<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.kawan">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".pulaupasumpahan"
            android:exported="false" />
        <activity
            android:name=".pencarian2"
            android:exported="true"></activity>
        <activity
            android:name=".pencarian1"
            android:exported="true"></activity>
        <activity
            android:name=".pulausirandah"
            android:exported="true">

        </activity>
        <activity
            android:name=".masjidrayasumbar"
            android:exported="true"></activity>
        <activity
            android:name=".jamsit"
            android:exported="true"></activity>
        <activity
            android:name=".bendunganniagara"
            android:exported="true"></activity>
        <activity
            android:name=".pantaiairmanis"
            android:exported="true"></activity>
        <activity
            android:name=".pantaipadang"
            android:exported="true"></activity>
        <activity
            android:name=".airterjunlubuakrantiang"
            android:exported="true"></activity>
        <activity
            android:name=".airterjunlubuakhitam"
            android:exported="true"></activity>
        <activity
            android:name=".airterjuntampuruang"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>